body {
  box-sizing: border-box;
  text-align: center;
}
@font-face {
  font-family: "mifuente1";
  src: url(../font/coolvetica\ rg.otf);
  font-weight: bold;
}

@font-face {
  font-family: "miFuente2";
  src: url(../font/Roboto-Light.ttf);
  font-size: 400;
}
h1 {
  font-family: "mifuente1";
  font-weight: bold;
  font-size: 120px;
  color: #0a2ff1;
}
p,
button {
  font-family: "miFuente2";
  font-size: 40px;
  color: #04146c;
}
#button1 {
  color: white;
  background-color: #0a2ff1;
}
button {
  border: 3px solid #0a2ff1;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}
